.App {
  text-align: center;
  color: white;
  display: inline-flex;
  margin: 2em;
  margin-top: 34em;
}
.bgImage {
  position: fixed;
  z-index: -1;
  top: -10em;
  left: -3em;
}
.screen {
  margin-top: -28em;
  margin-left: 31em;
  color: black;
  position: fixed;
  width: 55em;
  height: 22.5em;
  word-wrap: break-word;
  overflow-y: hidden;
}
.bootn {
  position: fixed;
  margin-top: -19em;
  margin-left: 20em;
  background-color: darkred;
  border-color: white;
  color: white;
  border-radius: .5em;
}
.player {margin-left: 8em; position: fixed;}
.imgs {width: 9em; margin: 1.5em;}
.imgs:hover {box-shadow: .5em .5em 5em black; animation: swaag infinite 3.5s linear;}
@keyframes swaag {
  0% {
	transform: scale(1.25) rotateZ(0deg)}
	25% {
		transform: scale(1.25) rotateZ(7deg)}
	25.1% {
		transform: scale(1.25) rotateZ(7deg)}
	50% {
    transform: scale(1.25) rotateZ(0deg)}
  50.1% {
      transform: scale(1.25) rotateZ(0deg)}
  75% {
    transform: scale(1.25) rotateZ(-7deg)}
  75.1% {
    transform: scale(1.25) rotateZ(-7deg)}
  100% {
    transform: scale(1.25) rotateZ(0deg)}
}

.zoom
{
animation: zoomin 20s linear infinite;
width: 10em;
top: 0;
left: 0;
transform: translateX(-120%) translateY(-120%) rotateZ(0);
position: fixed;
animation-delay: 11s;
z-index: 9;
pointer-events: none;
}
@keyframes zoomin {
	98.001%, 0% {
    display: block;
	transform: translateX(-200%) translateY(100vh) rotateZ(0deg)}
	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(360deg)}
	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)}
	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-360deg)}
	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-0deg)}
	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(360deg)}
	65.001%, 68% {  
		transform: translateX(20vw) translateY(-200%) rotateZ(0deg)}
	95% { 
		transform: translateX(10vw) translateY(100vh) rotateZ(360deg)}
}